[Desktop Entry]
Name=Tessera Studio (Enterprise)
GenericName=Knowledge Studio (Enterprise)
Comment=Enterprise - procurement first-class, no duress
Exec=tessera-studio-linux
Icon=org.tessera.TesseraStudio
Terminal=false
Type=Application
Categories=Office;ProjectManagement;Development;
StartupWMClass=TesseraStudio
MimeType=text/plain;
X-GNOME-UsesNotifications=true
